.container{
    width: 100px;
    margin: 100px auto;
    position: relative;
}

.container h1{
    position: absolute;
}
/* .enter{
    opacity: 0;
    transform: translateX(100px);
} */

/*

.enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

.exit{
    opacity: 1;
    transform: translateX(0);
}

.exit-active{
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s;
}
*/

.exit-done{
    opacity: 0;
}